@use 'textos' as t;
@use 'variaveis' as v;

.synopsis{
    padding: 5.6vw;
    height: 1000px;

    background-image: url(../../Imagens_projeto_4/house_backyard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 57%;
    
    &__about-text{
        position: relative;
        z-index: 2;
        top: -10%;
        text-align: center;
        
        img{
            max-height: 120px;
        }
    }

    &__content{
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 2vw;
        position: relative;
        height: v.$alturaTexto;
        top: 20%;

        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     background-color: rgba(0, 0, 0, 0.4); /* Cor de ofuscamento */
        //     z-index: 1; /* Camada abaixo do texto */
        // }

        // & > *{
        //     z-index: 2;
        // }
    }

    &__text{
        display: flex;
        max-width: 800px;
        width: 100%;
        max-height: 500px;
        height: 100%;
        margin: 0 auto;
        text-indent: 4em;
        @include t.text(20px);
        text-align: justify;
        color: white;
        position: absolute;
        align-items: center;
        top: 0;
        right: 0;
        left: 0;
        color: white;
        font-weight: bold;
        // melhorar a legibilidade do texto
        // text-shadow: deslocamento horizontal da sombra, vertical, raio de desfoca, cor;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
    }

    &__penny{
        max-width: 120px;
        position: absolute;
        top: 25%;
        left: -8px;
    }

    &__gumball{
        max-width: 100px;
        position: absolute;
        top: 25%;
        right: 0;
    }


}

@media screen and (max-width:767px){
    .synopsis{
        max-height: 60vh;
        background-position-x: 35%;

        &__about-text{
            img{
                text-align: center;
                max-height: 70px;
            }
            margin-bottom: 0;
        }
        
        &__text{
            font-size: 0.8rem;
            max-height: 200px;
            position: relative;
        }

        &__penny{
            display: none;
        }
    
        &__gumball{
            display: none;
        }
    }

}



